<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="XPDF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup><userSettings>
        <XPDF.Properties.Settings>
            <setting name="EnableP7M" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableXML" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnablePDF" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoPrintAuthorised" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value />
            </setting>
            <setting name="InheritFileName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RememberDirectories" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseDefaultDirectories" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SourceDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="DestinationDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultSourceDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultDestinationDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="ConvertedFilesCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TempDestinationDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="TempSourceDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedPrinter" serializeAs="String">
                <value />
            </setting>
            <setting name="PrintingEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EULANotified" serializeAs="String">
                <value>False</value>
            </setting>
        </XPDF.Properties.Settings>
    </userSettings>
</configuration>
